@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --fondo-color: rgb(181, 181, 181);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--fondo-color);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background: linear-gradient(135deg, rgb(69,72,77) 0%,rgb(0,0,0) 100%);
  box-shadow: 0px 0px 5px black;

  width: 40%;
  min-width: 425px;
  min-height: 600px;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}


.input {
  margin-top: 24px;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid rgba(255, 118, 20, 1);
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
  
  font-size: 16px;
}

.button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
    );
  text-transform: capitalize;
  color: #fff;
  
  font-size: 16px;
} 
  
.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px auto;
  
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );
  
  border-radius: 5px;
  width: 90%;

  font-size: 24px;
  color: #fff;
} 

.complete {
  text-decoration: line-through;
  color: #fff;
  opacity: 0.6;
}

.todo-text {
  width: 90%;
  padding: 16px;
  text-align: left;
}

.icon {
  display: flex;
  align-items: center;
  font-size: 32px;
  cursor: pointer;
  width: 10%;
  padding: 2px;
} 